.heroes.section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heroes.container {
	display: grid;
	grid-template-columns: .5fr .5fr;
	gap: 1rem;
}

.hero {
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
	padding: 1rem;
	cursor: pointer;
	transform: scale(1);
	transition: transform .3s, background .3s;
	color: var(--white);
	background-color: var(--purple);
}

.hero.light {
	background-color: var(--purple);
	color: var(--white);
}

.hero:hover {
	transform: scale(.97);
}

.hero__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.1rem;
}

.hero__top {
	width: 100%;
	display: grid;
	grid-template-columns: .9fr .1fr;
	position: relative;
}

.hero__bottom {
	height: 2rem;
	width: 100%;
	position: relative;
}

.hero__bottom i {
	height: 100%;
	display: flex;
	align-items: center;
	color: var(--white);
}

.right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.left {
	position: absolute;
	left: 0;
	top: 0;
}

.hero__center {
	width: max-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-25%, -50%);
	display: flex;
	flex-flow: row nowrap;
}

.hero__center-text {
	width: max-content;
	/* padding: 0 .2rem; */
	animation: scroll 5.5s linear infinite;
	visibility: hidden;
	word-spacing: .2rem;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

.hero__text.right svg {
	fill: var(--white);
}

.hero__center-text.faster {
	animation: scroll 3s linear infinite;
}

.hero__center-text.show {
	visibility: visible;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.download__span {
	font-size: .3rem;
	opacity: 0;
	transition: opacity .3s;
}

.download__span.show {
	opacity: 1;
}

/* * hero__divs */
.hero__div {
	display: grid;
	gap: 1rem;
	height: 14;
}

.hero__div.second {
	grid-template-columns: .4fr .6fr;
}

.hero__div.third {
	grid-template-columns: .35fr .65fr;
	grid-column: 1/3;
}

/* + first */
.hero.contact {
	--black: #0a0a0c;
	--white: #ededed;
	--blue: #1f306e;
	--purple: #553772;
	--dark-pink: #8f3b76;
	--pink: #8f3b76;
	--salmon: #f5487f;
	--borders: #0002;
	height: 100%;
}

/* + second */
.hero.aboutme {
	height: 7rem;
}

.hero.testimonies {
	height: 7rem;
}

.hero.projects {
	height: 5rem;
	grid-column: 1/3;
}

/* + third */
.hero.certificates {
	height: 12rem;
}

.hero.skills {
	height: 12rem;
	grid-column: 2/3;
	grid-row: 1/2;
}

.hero.cv {
	height: 6rem;
	grid-column: 1/3;
}

/* * heroe grids */
@media (max-width: 640px) {
	.invisible {
		opacity: 0;
	}
}

@media (min-width: 768px) {
	.hero__center-text.faster {
		visibility: hidden;
	}

	.hero__div.first {
		grid-column: 1/2;
	}

	.hero.contact {
		height: 100%;
	}

	.hero.projects {
		height: 14rem;
	}

	.hero.aboutme {
		height: 8rem;
	}

	.hero.testimonies {
		height: 8rem;
	}

	.hero__div.second {
		grid-column: 2/3;
	}

	.hero__div.third {
		grid-column: 1/3;
		grid-template-columns: .3fr .3fr .4fr;
	}

	.hero.cv,
	.hero.certificates,
	.hero.skills {
		height: 15rem;
	}

	.hero.certificates {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	.hero.cv {
		grid-row: 1/2;
		grid-column: 3/4;
	}
}

/* + skills hero */
.hero__center.skills {
	left: 100%;
}

.hero__center-text.skills {
	display: flex;
	gap: .5rem;
}

.skill {
	display: grid;
	grid-template-rows: 3rem 2rem;
	min-width: 4rem;
	max-width: 8rem;
	row-gap: .5rem;
}

.skill__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: transparent;
}

.skill__name {
	display: grid;
	place-content: center;
	place-items: end;
	text-align: center;
}

.skill__p {
	font-size: .7rem;
	font-weight: 500;
}