.heroes.section {
	place-content: unset;
	padding: 1rem;
	width: 100%;
}

.heroes.container {
	margin: 0 auto -1rem;
	display: grid;
	gap: .45rem;
}

.hero__div {
	display: grid;
	grid-template-columns: .5fr;
	grid-template-rows: 8rem 8rem;
	column-gap: .5rem;
	row-gap: .45rem;
}

.hero__div.second {
	grid-template-rows: 8rem 14rem;
}

.hero {
	position: relative;
	border-radius: 50px;
	overflow: hidden;
	padding: 1rem;
	transition: transform .5s;
	transform: scale(1);
	cursor: pointer;
}

.hero:hover {
	transform: scale(.98);
}

.hero__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.1rem;
}

.hero__top {
	width: 100%;
	text-align: left;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.hero__bottom {
	display: flex;
	justify-content: space-between;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.larger {
	font-size: 1.1rem;
}

.hero__center {
	width: max-content;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-flow: row nowrap;
}

.hero__center-text {
	width: max-content;
	padding: 0 .2rem;
	animation: scroll 5.5s linear infinite forwards;
	visibility: hidden;
	word-spacing: .2rem;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

.hero__center-text.faster {
	animation: scroll 3s linear infinite forwards;
}

.hero__center-text.show {
	visibility: visible;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
	}
}



@media (max-width: 425px) {
	.hero__div {
		grid-template-columns: .3fr .7fr;
	}

	.hero__div.fourth {
		grid-template-rows: 8rem 8rem;
	}

	.hero__div.third {
		grid-template-rows: 8rem 4rem;
		grid-template-columns: .3fr .7fr;
	}

	.hero__text {
		font-size: 1.3rem;
	}
}

@media (max-width: 640px) {
	.invisible {
		visibility: hidden;
	}

}

@media (min-width: 640px) {
	.container {
		min-width: 100%;
		max-width: none;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: none;
		min-width: 100%;
	}

	.hero__center-text.faster {
		visibility: hidden;
	}

	.hero__div.fourth {
		grid-template-rows: 7rem 11rem;
	}

	.hero__div.third {
		grid-template-rows: 18fr;
		grid-template-columns: .3fr .7fr;
	}

	.hero__div.second {
		grid-template-columns: .3fr .7fr;
	}
}

@media (min-width: 1024px) {
	.heroes.container {
		grid-template-columns: .5fr .5fr;
	}

	.hero__div.second {
		grid-template-columns: .4fr .6fr;
	}
}

/* * heroe grids */
.hero.projects {
	background-color: green;
	grid-column: 1/3;
	grid-row: 1/3;
}

.hero.aboutme {
	background-color: blue;
}

.hero.contact {
	background-color: tomato;
	grid-column: 1/3;
}

.hero.testimonies {
	background-color: violet;
	grid-column: 2/3;
	grid-row: 1/2;
}

.hero.skills {
	background-color: olive;
	grid-column: 1/3;
	grid-row: 1/2;
}

.hero.education {
	background-color: seagreen;
	grid-column: 1/3;
	grid-row: 2/3;
}

.hero.cv {
	background-color: darkorange;
	grid-row: 1/3;
}

.hero.certificates {
	background-color: darkred;
	grid-row: 1/3;
	/* grid-column: 1/3; */
}

.hero__text.left.aboutme {
	position: absolute;
	left: -1rem;

	/*
	transform: rotate(-90deg);
	top: 2.5rem; */
}

.hero__bottom {
	align-items: end;
}

.download__span {
	font-size: .3rem;
	display: block;
	opacity: 0;
	transition: opacity .3s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.download__span.show {
	opacity: 1;

}