#root {
	max-width: 1280px;
	width: auto;
	height: 100%;
	/* margin: 0 auto; */
	padding-bottom: 1rem;
}

.app {
	width: auto;
	display: flex;
	flex-direction: column;
	font-size: 62.5%;
	gap: 2rem;
	
	background-color: var(--main-black);
	color: var(--main-white);
	transition: background .35s, color .35s;
}

.app.light {
	background-color: var(--main-white);
	color: var(--main-black);
	transition: background .35s, color .35s;
}

:root::-webkit-scrollbar {
	width: .7rem;
}

:root::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: var(--dark-red);
}

:root::-webkit-scrollbar-track {
	background-color: var(--dark-white);
}

.section {
	display: grid;
	place-content: center;
	width: auto;
	/* ? */
	margin-left: 2rem;
}

.section.dark {
}

/* PARTS */
.part {
	/* ? */
	margin: 0 1rem;
	/* background-color: var(--); */
}

.part__container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: 1rem 1rem;
	margin: 0 1rem;
	border-radius: 1rem;
	/*
	*/
}

.part__container.projects {
	min-height: 0;
}

.part__container.aboutme {
	/* background-color: var(--indigo-dye); */
	--dark-green: #00241b;
	--tea-green: #cfe0c3;
	--indigo-dye: #244661;
	--chocolate-cosmos: #481620;
	--dark-purple: #2d0320;
}

.part__container.testimonies {
	/* background-color: var(--chocolate-cosmos); */
}

.part__container.certificates {
	min-height: 100%;
	/* background-color: var(--indigo-dye); */
}

.part__title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: .7rem;
}

.part__subtitle {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-bottom: 1rem;
}

.darkmode__container {
	height: 3rem;
	width: 3rem;
	top: 0;
	left: 0;
	position: sticky;
}

.darkmode__buttons {
	height: 100%;
	width: 100%;
	display: grid;
	place-content: center;
	/* position: absolute; */
	/* background-color: #00241b; */
}

.darkmode__button {
	cursor: pointer;
	font-size: 1rem;
	/* position: absolute; */
	/* top: 50%; */
	/* right: .5rem; */
	/* transform: translate(0%, -50%); */
	/* transition: color .35s; */
}