#root {
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: black;
}

.app {
	display: flex;
	flex-flow: column nowrap;
	margin: auto;
	font-size: 62.5%;
	gap: 1rem;
}

.section {
	display: grid;
	place-content: center;
	width: 100%;
	/* padding: 0 1rem; */
}