#root {
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: black;
	font-size: 62.5%;
}

.app {
	display: flex;
	flex-flow: column nowrap;
	margin: auto;
}

.section {
	background-color: #eee;
	display: grid;
	place-content: center;
}