@import url('https://fonts.cdnfonts.com/css/agenor-neue');
@import url('https://fonts.cdnfonts.com/css/hero-4?styles=152408,152407');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,200;1,300;1,400;1,500&display=swap');

:root {
	font-family: 'Hero';
	font-family: 'Poppins', sans-serif;
	font-family: 'Agenor Neue', sans-serif;
	line-height: 1.5;
	letter-spacing: 1px;

	background-color: var(--main-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* colors */
	--main-black: #121212;
	--main-white: #ededed;
	--main-red: #d62828;
	--main-brown: #edc4b3;
	--main-green: #8ac926;
	--main-lightblue: #0096c7;
	--main-blue: #4361ee;
	--main-purple: #6850f5;
	--main-pink: #dc23dc;
	--main-yellow: #ffb703;
	--borders: #0002;
;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	/* font-weight: 500; */
	color: var(--main-black);
	text-decoration: inherit;
}

a:hover {
	color: var(--main-white);
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	/* padding: 1rem; */
}

h1 {
	/* font-size: 3.2em; */
	line-height: 1.1;
}

sup {
	font-size: .1rem;
}

input {
	width: 100%;
	height: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

li {
	padding: 0;
	margin: 0;
	/* text-align: center; */
}

.container {
	max-width: 100%;
	width: 100%;
}

.light-text {
	color: var(--main-black);
	fill: var(--main-black);
}

.dark-text {
	color: var(--main-white);
	fill: var(--main-white);
}

button {
	padding: .4rem .6rem;
	font-family: 'Agenor Neue', sans-serif;
	letter-spacing: 1.5px;
	width: max-content;
	margin: auto;
	border-radius: 1rem;
	border: 2px solid var(--borders);
	cursor: pointer;
}

.part__title {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.hero__text.left {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
}

