@import url('https://fonts.cdnfonts.com/css/agenor-neue');
@import url('https://fonts.cdnfonts.com/css/hero-4?styles=152408,152407');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,200;1,300;1,400;1,500&display=swap');

:root {
	font-family: 'Hero';
	font-family: 'Poppins', sans-serif;
	font-family: 'Agenor Neue', sans-serif;
	line-height: 1.5;
	letter-spacing: 1px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #888;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	/* font-weight: 500; */
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	padding: 1rem;
}

h1 {
	/* font-size: 3.2em; */
	line-height: 1.1;
}