.aboutme .part__title {
	color: var(--main-black);
}

.part__text,
.part__subtitle {
	font-family: 'Poppins', sans-serif;
	font-size: .85rem;
	font-weight: 400;
}

.aboutme .part__text {
	margin: .5rem 0;
}

.part__text a {
	color: var(--main-brown);
}
