.part__container.certificates {
	min-height: 100vh;
	justify-content: start;
}

.certificates__container {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	padding: 1rem 0;
}

.certificates__container {
	border-bottom: 2px solid var(--borders);
}

.certificate__header {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: .5rem;
	background-color: var(--main-blue);
}

.certificate__title {
	color: var(--main-white);
}

.show-skills__button {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	color: var(--main-white);
	transition: color .3s;
	cursor: pointer;
	background-color: var(--main-white);
	width: 100%;
	text-align: center;
	border-radius: 1rem;
	transition: background .35s, color .35s;
}

.show-skills__button:hover,
.show-skills__button:active {
	color: var(--main-black);
	background-color: var(--main-white);
	padding: .3rem;
}
.show-skills__button.hide {
	opacity: 0;
}

.certificate__details {
	background-color: #fff;
	padding: 1rem 1rem .5rem;
}

.certificate__image {
	display: grid;
	place-content: center;
}

.certificate__image img {
	width: 100%;
	max-width: 30rem;
	margin: 0 auto;
}

.certificate__info-ul {
	border-bottom: 2px solid var(--borders);
	border-top: 2px solid var(--borders);
	margin-top: .7rem;
}

.certificate__info-li {
	margin: .2rem 0;
	display: flex;
	justify-content: space-between;
}


/* + skills__learned */
.skills__learned-ul {
}

.skills__learned-h2 {
	margin: .6rem 0 .4rem;
}

li.skills__learned-li {
	list-style: inside;
	margin: .2rem 0;
	margin-left: .6rem;
}

.sm {
	font-size: .8rem;
}