.hero__center-contactme {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.socials {
	height: 100%;
	display: flex;
	flex-wrap: wrap-reverse;
	gap: .5rem;
	transform: scale(8);
	opacity: 0;
	transition: transform .4s, opacity .3s;
	position: relative;
	z-index: -1;
}

.socials.show {
	transform: scale(1);
	opacity: 1;
	z-index: 100;
}

.social {
	width: 100%;
}

.contact__a {
	width: fit-content;
	padding: .3rem .5rem;
	display: flex;
	align-items: center;
	margin: auto;
	border-radius: 1rem;
	letter-spacing: 1.5px;
	font-family: 'Agenor Neue', sans-serif;
	position: relative;
	cursor: pointer;
	transition: padding .3s;
}

.contact__a:hover {
	padding-right: 2rem;
}

.contact__a i {
	font-size: 1.1rem;
	position: absolute;
	right: 100%;
	opacity: 0;
	z-index: 0;
	transition: right .4s ease-in-out, opacity .2s;
}

.contact__a i.show {
	transition: opacity .4s;
	opacity: 1;
	right: .6rem;
}

.social__span {
	color: var(--main-white);
	font-size: 1rem;
}