.part__container.testimonies {
	display: grid;
	grid-template-rows: 5rem 18rem 20rem;
	grid-template-columns: 1fr;
	row-gap: .5rem;
}

.testimonies__form {
	background-color: var(--borders);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 2px solid #0002;
	padding: .7rem;
	border-radius: 1rem;
}

.form__input {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: .2rem;
	width: 100%;
}

.form__input.comment {
	height: 10rem;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start; */
}

.form__input input {
	max-width: 15rem;
	padding: .3rem .5rem;
	border-radius: 1rem;
	border: none;
	background-color: var(--main-white);
	opacity: 1;
	/* box-shadow: 0 15px 30px 10px #00000055; */
}

.form__input.comment input {
	max-width: none;
}

.form__input button {
	background-color: var(--main-purple);
}

.testimonies__cards {
	background-color: var(--borders);
	display: flex;
	flex-flow: column-reverse;
	gap: .4rem;
	width: 100%;
	overflow: auto;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem;
	border: 2px solid var(--borders);
	padding: 1rem;
}

.testimony__card {
	height: max-content;
	background-color: var(--main-purple);
	border-radius: 1rem;
	width: 100%;
	padding: .4rem;
	display: flex;
	flex-direction: column;
	gap: .4rem;
}

.testimony__card h2 {
	text-align: end;
}

.testimony__card p {
	border-top: 2px solid var(--borders);
	padding-top: 1rem;
}

.testimonies__cards::-webkit-scrollbar {
	width: .4rem;
	border-radius: 1rem;
}

.testimonies__cards::-webkit-scrollbar-thumb {
	background-color: var(--main-purple);
	border-radius: 1rem;
}

.testimonies__cards::-webkit-scrollbar-track {
	background-color: var(--main-black);
	border-radius: 1rem;
}

.testimonies .part__title {
	color: var(--main-black);
}